{% extends 'base.html' %}

{% block content %}
  <div class="container-fluid">
      <div class="row justify-content-center">
      <div class="col-8">
          <hr class="mt-0 mb-4">
          <div class="d-flex align-items-center">
              <h6>Hello, Apa kabar?</h6>
          </div>
          
      </div>
      </div>
  </div>
  <form action="{% url 'comment' %}" method="post">
      {% csrf_token %}
      <div class="form-group">
          <label for="comment">Share your ideas</label>
          {{ form.comment }}
      </div>
    <button type="submit" class="btn btn-success" id="SubmitButton">Submit</button>
  </form>
  <div class="container">
      {% for i in comment_data %}
      <div class="row">
          <h6>{{ i.comment }} {{ i.timePosted }} </h6>
      </div>
      {% endfor %}
  </div>
{% endblock %}
