{% extends 'base.html' %}

{% block content %}
<h1>Hello my name is {{ name }} </h1>
<article>NPM : {{ npm }} </article>
<article>Tempat kuliah : {{ kuliah }}</article>
<article>Hobi : {{ hobi }} </article>
<article>Deskripsi : {{ deskripsi }} </article>
<img src="https://lh3.googleusercontent.com/-AyOS-H5M6RE/AAAAAAAAAAI/AAAAAAAAAQ0/_LsLXnPekCw/s640-il/photo.jpg" alt="Ariq Haryo Setiaki">
{% endblock %}